$colorPrimary: #f50057

.layout
    padding-top: 100px
    padding-bottom: 2vh

.paper
    width: 700px
    margin: auto
    padding: 40px

.checkoutLabel
    text-align: center

.MuiStepIcon-root.MuiStepIcon-root.MuiStepIcon-active
    color: $colorPrimary

.MuiStepIcon-root.MuiStepIcon-root.MuiStepIcon-completed
    color: $colorPrimary
