$buttonTextColor: white
$buttonColorPrimary: #f50057
$buttonColorSecondary: black

.content
    padding-top: 69px
    max-width: 100%
    display: flex
    margin: auto

.filters
    min-width: 730px
    max-width: 730px
    margin: auto
    display: flex
    flex-direction: row

.categoryFilter
    min-width: 400px
    min-height: 100%
    padding: 5%
    display: flex
    flex-direction: column
    justify-content: left

.MuiTypography-root.categoryFilterLabel.MuiTypography-h6
    font-weight: bold
    width: 300px
    cursor: default

.MuiListItem-root.categoryLabel.MuiListItem-gutters
    cursor: default

.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-8.MuiCheckbox-root.MuiCheckbox-colorSecondary.checkbox.MuiIconButton-colorSecondary.MuiIconButton-edgeStart
    color: $buttonColorPrimary

.MuiListItemText-root.categoryItemLabel
    font-size: 18px

.sortersSearchPriceFilter
    display: flex
    flex-direction: column
    justify-content: space-evenly
    width: 300px

.MuiTypography-root.searchLabel.MuiTypography-h6
    margin-bottom: 5px
    font-weight: bold
    width: 300px
    cursor: default

.searchBar
    width: 300px

.sorters
    width: 70%
    display: flex
    flex-direction: column
    justify-content: space-between

.MuiTypography-root.sortersLabel.MuiTypography-h6
    font-weight: bold
    width: 300px
    cursor: default

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.dropSortsButton
    width: 200px
    color: $buttonTextColor
    font-weight: bold
    background-color: $buttonColorPrimary
    &:hover
        background-color: $buttonColorSecondary

.MuiTypography-root.priceFilterLabel.MuiTypography-h6
    font-weight: bold
    width: 300px
    cursor: default

.priceFilterLabel
    font-weight: bold
    width: 300px
    padding-bottom: 20%
    cursor: default
    margin-bottom: 5px

.MuiSlider-root.MuiSlider-colorPrimary.priceSlider
    color: $buttonColorPrimary

.priceFilterButtons
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-evenly

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.applyPriceFiltersButton
    margin: 5px
    width: 100px
    color: $buttonTextColor
    font-weight: bold
    background-color: $buttonColorPrimary
    &:hover
        background-color: $buttonColorSecondary

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.dropPriceFiltersButton
    margin: 5px
    width: 100px
    color: $buttonTextColor
    font-weight: bold
    background-color: $buttonColorPrimary
    &:hover
        background-color: $buttonColorSecondary

.MuiGrid-root.items.MuiGrid-container.MuiGrid-spacing-xs-1
    padding-right: 3px
    min-width: 295px
    margin: auto
    max-width: 100%

.MuiPagination-root
    padding: 0.5vh
    justify-content: center
    display: flex

.MuiPaginationItem-root
    &:last-child
        font-weight: bold
