$appBarColor: white
$cartColor: black
$titleColor: black
$badgeColor: #f50057
$badgeTextColor: white

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.appBar.mui-fixed.MuiPaper-elevation4
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)
    margin-bottom: 10px
    background-color: $appBarColor

.MuiTypography-root.title.MuiTypography-h6
    flex-grow: 1
    align-items: center
    display: flex
    color: $titleColor
    text-decoration: none
    padding: 5px
    cursor: default

.image
    padding-right: 10px
    height: 25px
    cursor: pointer

.MuiBadge-badge
    &.MuiBadge-anchorOriginTopRightRectangle
        background-color: $badgeColor
        color: $badgeTextColor

.MuiButtonBase-root.MuiIconButton-root.cartIcon
    color: $cartColor
