$textColorPrimary: black
$buttonTextColor: white
$buttonColorPrimary: #f50057
$buttonColorSecondary: black

.MuiTypography-root.cartTitle.MuiTypography-h3
    padding-top: 100px
    padding-bottom: 2vh
    cursor: default

.MuiGrid-root.cartItems.MuiGrid-container.MuiGrid-spacing-xs-1
    min-width: 1300px

.cartDetails
    display: flex
    padding-top: 6vh
    padding-bottom: 4vh
    width: 100%
    justify-content: space-between

.MuiTypography-root.cartTotal.MuiTypography-h4
    cursor: default

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.backFromCartButton.MuiButton-containedSizeLarge.MuiButton-sizeLarge
    width: 200px
    color: $buttonTextColor
    margin-right: 20px
    font-weight: bold
    background-color: $buttonColorPrimary
    &:hover
        background-color: $buttonColorSecondary

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.checkoutButton.MuiButton-containedSizeLarge.MuiButton-sizeLarge
    width: 200px
    color: $buttonTextColor
    font-weight: bold
    background-color: $buttonColorPrimary
    &:hover
        background-color: $buttonColorSecondary

.link
    text-decoration: none
    color: $textColorPrimary
    &:hover
        text-decoration: none
