$primaryTextColor: black
$secondaryTextColor: gray
$buttonTextColor: white
$buttonColorPrimary: #f50057
$buttonColorSecondary: black

.MuiPaper-root.MuiCard-root.cardCartItem.MuiPaper-elevation1.MuiPaper-rounded
    min-height: 415px
    max-height: 415px
    display: flex
    flex-direction: column
    justify-content: space-between

.MuiCardContent-root.cardCartContent
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    flex-direction: column

.MuiTypography-root.productCardName.MuiTypography-body1
    font-size: 13pt
    margin-bottom: 0.35em
    text-decoration: none
    color: $primaryTextColor
    cursor: default

.MuiTypography-root.productCardPrice.MuiTypography-body1
    font-size: 13pt
    margin-bottom: 0.35em
    color: $primaryTextColor
    cursor: default

.MuiTypography-root.productCardCategory.MuiTypography-body2
    color: $secondaryTextColor
    cursor: default

.MuiCardActions-root.cardCartActions.MuiCardActions-spacing
    justify-content: space-between

.buttons
    display: flex
    align-items: center

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.removeButton
    color: $buttonTextColor
    margin-right: 20px
    font-weight: bold
    background-color: $buttonColorPrimary
    &:hover
        background-color: $buttonColorSecondary

.MuiTypography-root.productQuantity.MuiTypography-body1
    cursor: default
