$textColorPrimary: black
$buttonTextColor: white
$buttonColorPrimary: #f50057
$buttonColorSecondary: black

.MuiTypography-root.formTitle.MuiTypography-h6
    margin-bottom: 10px
    margin-top: 10px
    cursor: default

.MuiGrid-root.formGrid.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-item.MuiGrid-grid-xs-12
    margin-bottom: 5px
    margin-top: 5px

.buttons
    display: flex
    justify-content: space-between
    padding-top: 10px

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.toCartButton, .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.backToShippingFormButton
    width: 200px
    color: $buttonTextColor
    margin-right: 20px
    font-weight: bold
    background-color: $buttonColorPrimary
    &:hover
        background-color: $buttonColorSecondary

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.nextButton, .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.submitOrder
    width: 200px
    color: $buttonTextColor
    font-weight: bold
    background-color: $buttonColorPrimary
    &:hover
        background-color: $buttonColorSecondary
    &.Mui-disabled.Mui-disabled
        color: rgba(0, 0, 0, 0.26)

.MuiListItem-root.listItem
    padding: 10px 0
    cursor: default

.MuiTypography-root.totalOrderPrice.MuiTypography-subtitle1
    font-weight: 700
    cursor: default

.orderConfirmation
    display: flex
    flex-direction: column

.MuiCheckbox-colorPrimary.Mui-checked
    color: $buttonColorPrimary

input
    display: block
    box-sizing: border-box
    width: 100%
    border-radius: 4px
    border: 1px solid $buttonColorPrimary
    padding: 10px 15px
    margin-bottom: 10px
    font-size: 14px

.inputLabel
    line-height: 2
    text-align: left
    display: block
    color: $textColorPrimary
    font-size: 14px
    font-weight: 200
